<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nttdocomo.android.tvterminalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="">

        <!-- ====================================== Home グループ Begin ====================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.ClipListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.RecordedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.RecordReservationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.home.WatchingVideoListActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Home グループ End ====================================== -->


        <!-- ===================================== Launch グループ Begin ===================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.DAccountReSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.DAccountSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.DAccountSettingHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.STBConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.STBParingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.STBSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.launch.TutorialActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Launch グループ End ====================================== -->


        <!-- ====================================== Other グループ Begin ====================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.other.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.other.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.other.RemoteControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.other.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.other.SettingDetailActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Other グループ End ====================================== -->


        <!-- ====================================== Player グループ Begin ====================================== -->
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.player.ChannelDetailPlayerActivity" />
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.player.RecordedVideoPlayerActivity" />
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.player.TvPlayerActivity" />
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.player.VideoPlayerActivity" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.player.RecommendPlayerActivity"
            android:launchMode="singleTop" />
        <!-- ======================================  Player グループ End ====================================== -->


        <!-- ====================================== Ranking グループ Begin ====================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.ranking.DailyTvRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.ranking.RankingTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.ranking.VideoRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.ranking.WeeklyTvRankingActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Ranking グループ End ====================================== -->


        <!-- ====================================== Search グループ Begin ====================================== -->

        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.search.SearchTopActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Search グループ End ====================================== -->


        <!-- ====================================== TvProgram グループ Begin ====================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.tvprogram.ChannelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.tvprogram.MyChannelEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.tvprogram.TvProgramListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.tvprogram.WeekTvProgramListActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  TvProgram グループ End ====================================== -->


        <!-- ====================================== Video グループ Begin ====================================== -->
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.video.VideoContentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.video.VideoSubGenreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nttdocomo.android.tvterminalapp.activity.video.VideoTopActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Video グループ End ====================================== -->

        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.temp.DAccountAppliActivity" />
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.temp.GoogleStoreActivity" />
        <activity android:name="com.nttdocomo.android.tvterminalapp.activity.launch.DAccountRegConfirmationActivity"/>
    </application>

</manifest>