<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nttdocomo.android.tvterminalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 海外通信判定処理に必要 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.nttdocomo.android.idmanager.permission.serviceapp.IDimServiceAppService"/>

    <!-- ID管理画面起動（サービスアプリ用）I/Fを利用する場合に記載が必要. -->
    <uses-permission android:name="com.nttdocomo.android.idmanager.permission.OPEN_SERVICE_TOP"/>

    <!-- ID設定状態取得 I/Fを利用する場合に記載が必要. -->
    <uses-permission android:name="com.nttdocomo.android.idmanager.permission.GET_ID_STATE"/>

    <application
        android:name="com.nttdocomo.android.tvterminalapp.application.TvtApplication"
        xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="false"
        android:icon="@mipmap/icd_app_tvterminal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icd_app_tvterminal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false" tools:targetApi="24">

        <!-- ====================================== Home グループ Begin ====================================== -->
        <activity
            android:name=".activity.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.ClipListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.RecordedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.RecordReservationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.RentalListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.WatchingVideoListActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Home グループ End ====================================== -->


        <!-- ===================================== Launch グループ Begin ===================================== -->
        <activity
            android:name=".activity.launch.DAccountReSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.DAccountSettingHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.DAccountInductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.launch.STBConnectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.launch.STBSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/STBTheme"/>
        <activity
            android:name=".activity.launch.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.launch.PairingHelpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.launch.STBSelectErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/STBTheme"/>
        <!-- ======================================  Launch グループ End ====================================== -->


        <!-- ====================================== Other グループ Begin ====================================== -->
        <activity
            android:name=".activity.setting.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingImageQualityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.ApplicationInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingMenuAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingMenuFaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingMenuLicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingMenuPrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SettingMenuTermsOfServiceActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Other グループ End ====================================== -->


        <!-- ====================================== Player グループ Begin ====================================== -->
        <activity android:name=".activity.detail.ChannelDetailPlayerActivity" />
        <activity
            android:name=".activity.detail.ContentDetailActivity"
            android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- ======================================  Player グループ End ====================================== -->


        <!-- ====================================== Ranking グループ Begin ====================================== -->
        <activity
            android:name=".activity.ranking.DailyTvRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ranking.RankingTopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ranking.VideoRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ranking.WeeklyTvRankingActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Ranking グループ End ====================================== -->


        <!-- ====================================== Search グループ Begin ====================================== -->

        <activity
            android:name=".activity.search.SearchTopActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Search グループ End ====================================== -->


        <!-- ====================================== TvProgram グループ Begin ====================================== -->
        <activity
            android:name=".activity.tvprogram.ChannelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tvprogram.MyChannelEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tvprogram.TvProgramListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tvprogram.WeekTvProgramListActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  TvProgram グループ End ====================================== -->


        <!-- ====================================== Video グループ Begin ====================================== -->
        <activity
            android:name=".activity.video.VideoContentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.VideoTopActivity"
            android:screenOrientation="portrait" />
        <!-- ======================================  Video グループ End ====================================== -->

        <!-- dアカウントの状況変化を受け取るレシーバー -->
        <receiver
            android:name="com.nttdocomo.android.tvterminalapp.webapiclient.daccount.DaccountReceiver"
            android:permission="com.nttdocomo.android.idmanager.permission.NOTIFY_STATUS">
            <intent-filter>
                <action android:name="com.nttdocomo.android.idmanager.action.DOCOMOID_SET_DEFAULT" />
                <action android:name="com.nttdocomo.android.idmanager.action.DOCOMOID_AUTHENTICATED" />
                <action android:name="com.nttdocomo.android.idmanager.action.DOCOMOID_REMOVED" />
                <action android:name="com.nttdocomo.android.idmanager.action.DOCOMOID_INVALIDATE" />
                <action android:name="com.nttdocomo.android.idmanager.action.DOCOMOID_LINKED_LINE" />
            </intent-filter>
        </receiver>

        <service android:name=".service.download.DownloadService" />
    </application>

</manifest>
