*.iml
.gradle
/build
/captures
.externalNativeBuild

/.idea
bin/
gen/
app/build/
proguard/

*.apk
*.ap_
*.dex
*.class

local.properties
*.ipr
*.iws
.classpath
.project

.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
.Trashes